[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/10_list.git
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_10_list.git
[submodule "zhouKel"]
	path = zhouKel
	url = https://github.com/KellyZhou223/10list.git
[submodule "luRan"]
	path = luRan
	url = https://github.com/RandyLu0/Work10
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work10_list.git
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/10_list.git
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/10_list.git
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/10_list
[submodule "waldAle"]
	path = waldAle
	url = https://github.com/SashaWald/10_work.git
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_10_list.git
[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/10_list_vs.git
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_enlist.git
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_10_list.git
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/systems_10_list.git
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/10_list_ZhangAle
