[submodule "zhouKel"]
	path = zhouKel
	url = https://github.com/KellyZhou223/10list.git
	branch = master
[submodule "shenkerEth"]
	path = shenkerEth
	url = https://github.com/ethan-shenker/10_list_systems.git
	branch = main
[submodule "leeLuc"]
	path = leeLuc
	url = https://github.com/Lucas-Lee11/10_list
	branch = main
[submodule "jiangVin"]
	path = jiangVin
	url = https://github.com/vjiang10/10_list_vj.git
	branch = main
[submodule "yeCul"]
	path = yeCul
	url = https://github.com/CullenLYe/work10_list.git
	branch = main
[submodule "maoMad"]
	path = maoMad
	url = https://github.com/madelynxmao/10_list.git
	branch = main
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/10_list_J.git
	branch = main
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_10_list
	branch = master
[submodule "hernandezCar"]
	path = hernandezCar
	url = https://github.com/KarlWithK/10_list_mks.git
	branch = main
[submodule "10_list_mks"]
	path = 10_list_mks
	url = https://github.com/NopeSiniscalco/10_list_mks.git
	branch = main
[submodule "siniscalcoFra"]
	path = siniscalcoFra
	url = https://github.com/NopeSiniscalco/10_list_mks.git
	branch = main
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_enlist.git
	branch = main
[submodule "ganHao"]
	path = ganHao
	url = https://github.com/haotianGan/10_enlist
	branch = main
[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/10_list_vs.git
	branch = main
[submodule "misquittaKri"]
	path = misquittaKri
	url = https://github.com/Kristoff1318/Work_10.git
	branch = main
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c-10_list.git
	branch = main
[submodule "hathawayMay"]
	path = hathawayMay
	url = https://github.com/mayhathaway/systems-10.git
	branch = master
[submodule "chenJac"]
	path = chenJac
	url = https://github.com/jchen2003/10_list.git
	branch = main
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work10.git
	branch = main
[submodule "sahaAbh"]
	path = sahaAbh
	url = https://github.com/AbhijeetSaha2142/10_list.git
	branch = main
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/10_list.git
	branch = main
[submodule "zhaoGav"]
	path = zhaoGav
	url = https://github.com/gzhao10/hw10.git
	branch = main
[submodule "zhengYul"]
	path = zhengYul
	url = https://github.com/yzheng10/10_List.git
	branch = main
[submodule "linLei"]
	path = linLei
	url = https://github.com/mks65/10_list.git
	branch = main
[submodule "huMic"]
	path = huMic
	url = https://github.com/GuessHuIAm/hw10_list
	branch = master
[submodule "huLuc"]
	path = huLuc
	url = https://github.com/lhu10/systems_10_list.git
	branch = main
[submodule "waldAle"]
	path = waldAle
	url = https://github.com/SashaWald/10_work.git
	branch = main
[submodule "luRan"]
	path = luRan
	url = https://github.com/RandyLu0/Work10
	branch = main
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/10_list_kevidgel
	branch = main
[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_10_list.git
	branch = main
[submodule "liuAli"]
	path = liuAli
	url = https://github.com/aliu889/10_List_.git
	branch = master
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_10_list.git
	branch = master
[submodule "chanSer"]
	path = chanSer
	url = https://github.com/schan11/list.git
	branch = master
[submodule "hirotaEis"]
	path = hirotaEis
	url = https://github.com/ei5uke/systems_10_list.git
	branch = main
[submodule "zhangAle"]
	path = zhangAle
	url = https://github.com/Kappachino-Latte/10_list_ZhangAle
	branch = master
[submodule "vostrikovVla"]
	path = vostrikovVla
	url = https://github.com/villinoid/10_systems
	branch = main
[submodule "hamzahMoh"]
	path = hamzahMoh
	url = https://github.com/ForestDweller014/10_list
	branch = main
